 #main {
     position: relative;
     margin-top: 10%;
     color: white;

 }

 #cards {
     display: grid;
     grid-template-columns: 1fr 1fr 2fr;
     grid-auto-flow: dense !important;
 }

 #card-txt {
     color: black !important;
 }

 #cards1 {
     margin-left: 10%;
     align-self: right;
     gap: 20px;


 }

 #card1-1 {
     opacity: 0.7;
 }

 #card1-2 {

     margin-top: 20px;
 }

 #cards2 {
     align-self: center;
     padding-top: 10px;

 }

 #cards3 {
     align-self: center;
     align-items: center;
     justify-self: center;
     height: 300px;
     padding-top: 50px;


 }

 @media (max-width:480px) {

     #cards {
         display: flex;


     }

     #cards1 {
         justify-content: center;
         align-items: center;
     }

     #cards2 {
         margin-left: 10%;
         position: absolute;
         margin-top: 150ch;

     }

     #cards3 {
         position: absolute;
         margin-top: 225ch;
         margin-left: 9%;

     }

 }











 /* #cards
{
    position:absolute;
    display: flex;
    top: 100%;
    background-color: rgb(20, 11, 17);
    
}
#cards-5
{
    background-color: cyan;
    align-items: end;
    justify-content: end;
   
}
#cards-1
{
    background-color: coral;
    
}
#cards-2
{
    margin-top: 3ch;
    background-color: aquamarine;
    align-items: end;
    justify-content: end;
    
}
#cards-3
{
    
    background: #c98686;
    align-items: center;
    justify-content: center;
}
#cards-6
{
    background-color: darkgray;
    align-content: center;
    justify-content: center;
    text-align: center;
}
#car1
{
    background-color: yellow;
}
 */